Location service Precondition failed in East US staging, this indicates concurrent write operations happened to the same document, causing document update failure. Statudcode 429 is retriable on the  caller side
Location service Precondition failed in North Europe US production, this indicates concurrent write operations happened to the same document, causing document update failure. Statudcode 429 is retriable on the  caller side
Location service Precondition failed in East US production, this indicates concurrent write operations happened to the same document, causing document update failure. Statudcode 429 is retriable on the  caller side
Location service Precondition failed in AUEA production, this indicates concurrent write operations happened to the same document, causing document update failure. Statudcode 429 is retriable on the  caller side
Location service Precondition failed in Japan East production, this indicates concurrent write operations happened to the same document, causing document update failure. Statudcode 429 is retriable on the  caller side
Location service Precondition failed in SouthEast Asia production, this indicates concurrent write operations happened to the same document, causing document update failure. Statudcode 429 is retriable on the  caller side
Location service Precondition failed in unknown production, this indicates concurrent write operations happened to the same document, causing document update failure. Statudcode 429 is retriable on the  caller side
Location service Precondition failed in North Europe 02 Scale Unit production, this indicates concurrent write operations happened to the same document, causing document update failure. Statudcode 429 is retriable on the  caller side
Location service Precondition failed in west Europe staging, this indicates concurrent write operations happened to the same document, causing document update failure. Statudcode 429 is retriable on the  caller side
Location service Precondition failed in East US staging, this indicates concurrent write operations happened to the same document, causing document update failure. Statudcode 429 is retriable on the  caller side
This indicates document update timed out in location service, there are several ways to take a look: 1. Timeout on CosmosDB, check appinsights in north europe 01 scale unit see if the the transit latency is high 2. client-side timeout
404 Not Found Error indicates: 1. the requested service does not exist in the tenant, 2. the request service is marked disabled in the Location Service. Check the document in the cosmosDB instance: platform-prd-loc-cosmosDB
404 Not Found Error indicates: 1. the requested service does not exist in the tenant, 2. the request service is marked disabled in the Location Service. Check the document in the cosmosDB instance: platform-prd-loc-cosmosDB
404 Not Found Error indicates: 1. the requested service does not exist in the tenant, 2. the request service is marked disabled in the Location Service. Check the document in the cosmosDB instance: platform-prd-loc-cosmosDB